<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img class="img-size" alt="Enjoy Madrid" src="./assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="margin-web">
    <ion-list lines="inset">
      <ion-list-header>
        <ion-label>
          <h1>Mis Rutas</h1>
        </ion-label>
      </ion-list-header>

      <ion-item-group>
        <ion-item *ngFor="let route of routes; let i = index" class="routes" (click)="routeSelected(route, i)">
          <ion-avatar slot="start">
            <img alt="route-{{i}}" src="{{'./assets/madrid' + indexImages[i] + '.jpg'}}">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2 class="title-route">{{route?.name}}</h2>
            <h3><span class="route-title-info route-info">Inicio</span> {{route?.origin?.name}}</h3>
            <h3><span class="route-title-info route-info">Fin</span> {{route?.destination?.name}}</h3>
            <p class="route-info"><ion-icon class="route-icon" name="calendar"></ion-icon> {{route?.date}}</p>
          </ion-label>
          <ion-fab-button title="Borrar" size="small" (click)="removeRoute(route, i)" class="remove-button ion-align-self-center" color="danger" slot="end">
            <ion-icon class="route-icon" name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-item>
    </ion-item-group>

    </ion-list>
  </ion-grid>
  <ion-fab class="ion-margin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button routerLink="/create-route" shape="round">
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      Nueva ruta
    </ion-button>
  </ion-fab>

  <ion-modal [isOpen]="openModal" [backdropDismiss]="false">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-grid class="ion-margin-top">
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-avatar>
                <img alt="route" src="{{'./assets/madrid' + indexImages[indexRoute] + '.jpg'}}">
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <h2 class="title-modal">{{routeModal?.name}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="margin-col" size-xs="12" size-md="auto">
              <ion-label>
                <p class="route-title-info route-info">Inicio</p> 
                <h3>{{routeModal?.origin?.name}}</h3>
              </ion-label>
            </ion-col>
            <ion-col class="margin-col" size-xs="12" size-md="auto">
              <ion-label>
                <p class="route-title-info route-info">Fin</p>
                <h3>{{routeModal?.destination?.name}}</h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="margin-col" size-xs="12" size-md="auto">
              <ion-label>
                <p class="route-title-info route-info">Creada el</p>
                <h3>{{routeModal?.date}}</h3>
              </ion-label>
            </ion-col>
            <ion-col class="margin-col" size-xs="12" size-md="auto">
              <ion-label>
                <p class="route-title-info route-info">Distancia máxima andando</p> 
                <h3 *ngIf="distanceUnit === 'kilometers'"> 
                  {{ ( routeModal?.maxDistance >= 1 ? routeModal.maxDistance + ' km' : (routeModal.maxDistance * 1000 + ' m') ) }}
                </h3>
                <h3 *ngIf="distanceUnit === 'miles'">
                  {{ (routeModal?.maxDistance * 0.6213711922).toFixed(3) + ' mi' }}
                </h3>
              </ion-label>
            </ion-col>
            <ion-col class="margin-col" size-xs="12" size-md="auto">
              <ion-label>
                <span class="route-title-info route-info">Transportes</span>
                <h3>{{formatArray(routeModal?.transports)}}</h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                <h3><span class="route-title-info route-info">Preferencias</span></h3>
                <div *ngFor="let preference of routeModal?.preferences | keyvalue">
                  <h3 class="ion-text-wrap" [class.not-selected]="preference.value === 0">
                    <span style="vertical-align: middle;">{{preference.key.split('_')[1]}} </span>
                    <ion-icon style="vertical-align: bottom;" *ngIf="preference.value === 0" name="close-outline"></ion-icon>
                    <ion-icon style="vertical-align: middle;" class="color-star" name="star" *ngFor="let n of countStars(preference.value)"></ion-icon>
                  </h3>
                </div>
              </ion-label>
            </ion-col>
          </ion-row>
          <div class="ion-margin-top flex-div ion-align-items-center ion-align-self-end ion-justify-content-end">
            <ion-button [disabled]="loadingRoute" fill="clear" (click)="closeRoute()">Cancelar</ion-button>
            <ion-button fill="clear" (click)="createRoute()">OK</ion-button>
            <ion-spinner *ngIf="loadingRoute" name="crescent"></ion-spinner>
          </div>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>