ion-menu-button {
  color: var(--ion-color-dark);
}

ion-modal {
  --border-radius: 8px!important;
}

ion-modal h3 {
  line-height: 2em;
}

h3 {
  font-size: .83em;
}

.flex-div {
  display: flex;
}

.title-route {
  font-weight: bold;
  margin-bottom: 10px;
}

.routes {
  cursor: pointer;
}

.remove-button {
  --box-shadow: none;
}

.color-star {
  color: #ffc700;
}

.route-title-info {
  font-weight: bold; 
  color: #737578;
}

.route-info {
  font-size: small;
}

.route-icon {
  pointer-events: none;
}