ion-menu-button {
  color: var(--ion-color-dark);
}

ion-modal {
  --border-radius: 8px!important;
}

h3 {
  font-size: .83em;
}

ion-col.margin-col {
  margin-right: auto;
}

.title-modal {
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
}

.not-selected {
  color: red;
}

.flex-div {
  display: flex;
}

.routes {
  cursor: pointer;
}

.remove-button {
  --box-shadow: none;
}

.color-star {
  color: #ffc700;
}

.route-icon {
  pointer-events: none;
}