<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img class="img-size" alt="Enjoy Madrid" src="./assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="margin-web">
    <ion-list lines="inset">
      <ion-list-header>
        <ion-label>
          <h1>Mis Rutas</h1>
        </ion-label>
      </ion-list-header>

      <ion-item-group>
        <ion-item *ngFor="let route of routes; let i = index" class="routes" (click)="routeSelected(route, i)">
          <ion-avatar slot="start">
            <img alt="route-{{i}}" src="{{'./assets/madrid' + indexImages[i] + '.jpg'}}">
          </ion-avatar>
          <ion-label class="ion-text-nowrap" >
            <h2 class="title-route">{{route?.name}}</h2>
            <h3><ion-icon name="home"></ion-icon> {{route?.origin?.name}}</h3>
            <h3><ion-icon name="flag"></ion-icon> {{route?.destination?.name}}</h3>
            <p><ion-icon name="calendar"></ion-icon> {{route?.date}}</p>
          </ion-label>
          <ion-fab-button size="small" (click)="removeRoute(route, i)" class="remove-button ion-align-self-center" color="danger" slot="end">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-item>
    </ion-item-group>

    </ion-list>
  </ion-grid>
  <ion-fab class="ion-margin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button routerLink="/create-route" shape="round">
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      Nueva ruta
    </ion-button>
  </ion-fab>

  <ion-modal [isOpen]="openModal" [backdropDismiss]="false">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-grid class="ion-margin-top">
          <ion-row>
            <ion-col size="auto" class="ion-margin-end">
              <ion-avatar>
                <img alt="route" src="{{'./assets/madrid' + indexImages[indexRoute] + '.jpg'}}">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <h3>Ruta1</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p><span style="font-weight: bold;">Creada el:</span> {{routeModal?.date}}</p>
              <p><span style="font-weight: bold;">Inicio:</span> {{routeModal?.origin?.name}}</p>
              <p><span style="font-weight: bold;">Fin:</span> {{routeModal?.destination?.name}}</p>
              <p><span style="font-weight: bold;">Distancia máxima andando:</span> {{routeModal?.maxDistance}}</p>
              <p><span style="font-weight: bold;">Transportes:</span> {{routeModal?.transports}}</p>
              <p><span style="font-weight: bold;">Preferencias:</span>
              <div *ngFor="let preference of routeModal.preferences | keyvalue">
                <p *ngIf="preference.value > 0">
                  {{preference.key.split('_')[1]}}
                  <ion-icon class="color-star" name="star" *ngFor="let n of countStars(preference.value)"></ion-icon>
                </p>
              </div>
            </ion-col>
          </ion-row>
          <ion-button (click)="createRoute()" color="primary">OK</ion-button>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>