/* Slides */
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import "~swiper/css/effect-fade";
@import '~@ionic/angular/css/ionic-swiper';


#margin-info h3 {
    color: #0a1f44;
}

#margin-info p {
    color: #53627c;
}

#margin-info ion-icon {
    vertical-align: text-bottom; 
    font-size: 1.2rem; 
    margin-right: 5px;
}

#margin-info ion-chip {
    pointer-events: none;
}

#margin-info {
    margin: 10px 7px;
}

@media only screen and (min-width: 768px) {
    #margin-info {
      margin: 30px 70px;
    }
}

.swiper {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 663px;
    height: auto;
    max-height: 335px;
}

.swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  