<ion-app>
  <ion-menu (ionWillOpen)="checkIfUserLogged()" contentId="main-content" type="overlay">
    <ion-content>
      <ion-menu-toggle auto-hide="true">
        <ion-list id="pages-list">
          <ion-grid id="user">
            <ion-row>
              <ion-col size="auto">
                <ion-avatar>
                  <img alt="route" [src]="userLogged?.photo ? 'data:image/jpeg;base64,' + userLogged.photo : 'assets/user.png'">
                </ion-avatar>
              </ion-col>
              <ion-col size="auto" class="ion-align-self-center">
                <div>
                  <ion-list-header>{{ userLogged?.name ? userLogged.name : 'Usuario Anónimo' }}</ion-list-header>
                  <ion-note>@{{ userLogged?.username ? userLogged.username : 'anonimo' }}</ion-note>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item routerLink="/home" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" name="map-outline"></ion-icon>
            <ion-label>Mis rutas</ion-label>
          </ion-item> 
          <ion-item routerLink="/find-places" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" name="earth-outline"></ion-icon>
            <ion-label>Explora Madrid</ion-label>
          </ion-item>
          <ion-item *ngIf="isUserLogged" routerLink="/update-user" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>Modificar perfil</ion-label>
          </ion-item>
          <ion-item *ngIf="isUserLogged" button="true" (click)="deleteAccount()" lines="none" detail="false">
            <ion-icon color="danger" slot="start" name="trash-outline"></ion-icon>
            <ion-label color="danger">Borrar cuenta</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>

      <ion-list id="preferences-list">
        <ion-list-header>Preferencias</ion-list-header>
        <ion-item lines="none">
          <ion-icon slot="start" name="moon-outline"></ion-icon>
          <ion-label>Tema Oscuro</ion-label>
          <ion-toggle slot="end" [(ngModel)]="darkTheme" (ionChange)="updateTheme()"></ion-toggle>
        </ion-item>
        <ion-item lines="none" detail="true">
          <ion-icon slot="start" name="thermometer-outline"></ion-icon>
          <ion-label>Temperatura</ion-label>
          <ion-select value="celsius" cancel-text="Cancelar">
            <ion-select-option value="celsius">Grado Celsius (°C)</ion-select-option>
            <ion-select-option value="fahrenheit">Grado Fahrenheit (°F)</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" detail="true">
          <ion-icon slot="start" name="footsteps-outline"></ion-icon>
          <ion-label>Distancia</ion-label>
          <ion-select value="kilometros" cancel-text="Cancelar">
            <ion-select-option value="kilometros">Sistema métrico (Kilómetros)</ion-select-option>
            <ion-select-option value="millas">Sistema imperial (Millas)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-menu-toggle auto-hide="true">
      <ion-footer class="ion-no-border">
        <ion-toolbar class="ion-text-end">
          <a *ngIf="!isUserLogged" class="ion-padding-end" routerLink="/sign">Iniciar sesión / Registrarse</a>
          <a *ngIf="isUserLogged" class="ion-padding-end" (click)="signOut()">Cerrar sesión</a>
        </ion-toolbar>
      </ion-footer>
    </ion-menu-toggle>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>