<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Nueva Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-grid>
    <ion-row>
      <ion-col size-md="11" class="my-form">
        <form (ngSubmit)="onCreateRoute()" #routeForm="ngForm">
          <ion-item>
            <ion-label position="stacked">Nombre de la ruta</ion-label>
            <ion-input type="text" placeholder="Mi primera ruta" [(ngModel)]="route.name" name="nameRoute"
              #nameRoute="ngModel" required></ion-input>
          </ion-item>
          <div [hidden]="nameRoute.valid || nameRoute.pristine" class="invalid-input">
            El nombre no puede estar vacío
          </div>
          <ion-list lines="none">
            <ion-list-header>Preferencias</ion-list-header>
            <ion-item-group *ngFor="let preference of preferences">
              <ion-item>
                <ion-checkbox color="secondary" slot="start" [(ngModel)]="preference.selected" [name]="preference.value">
                </ion-checkbox>
                <ion-label class="ion-text-wrap">{{preference.value}}</ion-label>
              </ion-item>
              <ion-list *ngIf="preference.selected && preference.subpreferences" lines="none" class="ion-padding-start">
                <ion-item *ngFor="let subpreference of preference.subpreferences">
                  <ion-checkbox color="primary" slot="start" [(ngModel)]="subpreference.selected"
                    [name]="subpreference.value">
                  </ion-checkbox>
                  <ion-label class="ion-text-wrap">{{subpreference.value}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-item-group>
          </ion-list>
          <ion-list lines="none">
            <ion-list-header>Número máximo de lugares a visitar</ion-list-header>
            <ion-item>
              <ion-range color="secondary" step="10" name="points" [(ngModel)]="maxPoints" min="10" max="500" pin>
                <ion-label slot="start">10</ion-label>
                <ion-label slot="end">500</ion-label>
              </ion-range>
            </ion-item>
          </ion-list>
          <div class="ion-text-end ion-margin-top">
            <ion-button [disabled]="!routeForm.form.valid" type="submit">Crear ruta</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>