<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img class="img-size" alt="Enjoy Madrid" src="./assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScrolling($event)">
  <ion-grid class="margin-web">
    <ion-row>

      <ion-col size-md="2" size-xs="12">
        <ion-list lines="none">
          <h5 class="categories-title">
            Categorías
          </h5>
          <ion-item-group *ngFor="let category of categories; let i = index">
            <ion-item (click)="categorySelected(i)">
              <ion-label class="ion-text-wrap">
                <ion-icon *ngIf="!category.selected" class="align-icon" slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-icon *ngIf="category.selected" class="align-icon" slot="start" name="chevron-down-outline"></ion-icon>
                {{category.name}}
              </ion-label>
            </ion-item>
            <ion-item-group *ngIf="category.selected" class="subcategories">
              <ion-item *ngFor="let subcategory of category.subcategories" (click)="subcategorySelected(subcategory)">
                <ion-label class="ion-text-wrap">
                  <ion-icon class="align-icon" slot="start" name="chevron-forward-outline"></ion-icon>
                  {{subcategory}}
                </ion-label>
              </ion-item>
            </ion-item-group>
          </ion-item-group>
        </ion-list>
      </ion-col>

      <ion-col id="results" class="results">
        <ion-list>
          <h3>{{totalResults}} resultados </h3>
          <ion-item *ngFor="let place of places | slice:0:lastIndex; let i = index" (click)="placeSelected(i)">
            <ion-avatar slot="start">
              <img [src]="place?.images[0] ? place.images[0] : 'assets/flag.png'" data-max-retry="3" data-retry="0"
                (error)="onError($event)">
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h2 class="title-route" [innerHTML]="place?.name"></h2>
              <h4>Dirección: {{place?.address}}, {{place?.zipcode}} Madrid</h4>
              <p *ngIf="place.categories.length > 0">
                Categorías: 
                <span *ngFor="let category of place.categories">
                  {{category}}.
                </span>
              </p>
              <p *ngIf="place.subcategories.length > 0">
                Subcategorías: 
                <span *ngFor="let subcategory of place.subcategories">
                  {{subcategory}}.
                </span>
              </p>
            </ion-label>
          </ion-item>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Cargando...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="showScrollTopButton" class="ion-margin-bottom ion-margin-end" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()" color="dark" size="small">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
