@media only screen and (min-width: 768px) {
    .margin-web {
        margin: 0px 10px;
      }
    .results {
      margin-left: 25px;
    }
}

.results h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.results ion-item {
    cursor: pointer;
}

.align-icon {
    padding-top: 1px;
    vertical-align: text-top;
}

.subcategories {
    margin-left: 15px;
}

.subcategories ion-item {
    font-size: small;
    color: #747475;
}

ion-item-group ion-label {
    cursor: pointer;
}

ion-chip {
    pointer-events: none;
}