<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img alt="Enjoy Madrid" height="40px" src="./assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-text-sm-wrap">
          <h1>Page Not Found</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
