<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><img class="img-size" alt="Enjoy Madrid" src="./assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="5" size-xs="12" class="my-form">
        <h1>Iniciar sesión</h1>
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="userLogin.email" name="emailLogin" #emailLogin="ngModel" type="email"
              placeholder="ramon@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
          </ion-item>
          <div [hidden]="emailLogin.valid || emailLogin.pristine" class="invalid-input">
            Email no válido
          </div>
          <ion-item class="toggle-password">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="userLogin.password" name="passwordLogin" #passwordLogin="ngModel"
              [type]="showPasswordLogin ? 'text' : 'password'" placeholder="5&RXX@FbFBv6"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" required>
            </ion-input>
            <a slot="end" (click)="togglePasswordLogin()">
              <ion-icon [hidden]="showPasswordLogin" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPasswordLogin" name="eye-outline"></ion-icon>
            </a>
          </ion-item>
          <div [hidden]="passwordLogin.valid || passwordLogin.pristine" class="invalid-input">
            Contraseña no válida (al menos 7 caracteres, una número, una mayúscula y una minúscula)
          </div>
          <div class="ion-text-end ion-margin-top">
            <ion-button type="submit" [disabled]="!loginForm.form.valid">Iniciar sesión</ion-button>
          </div>
        </form>
      </ion-col>
      <ion-col size-md="5" size-xs="12" class="my-form">
        <h1>Registrarse</h1>
        <form (ngSubmit)="onSignIn()" #signInForm="ngForm">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Ramón" [(ngModel)]="userSignIn.name" name="nameSignIn" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [(ngModel)]="userSignIn.email" name="emailSignIn" #emailSignIn="ngModel"
              placeholder="ramon@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
          </ion-item>
          <div [hidden]="emailSignIn.valid || emailSignIn.pristine" class="invalid-input">
            Email no válido
          </div>
          <ion-item class="toggle-password">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input [(ngModel)]="userSignIn.password" name="passwordSignIn" #passwordSignIn="ngModel"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" [type]="showPasswordSignIn ? 'text' : 'password'"
              placeholder="5&RXX@FbFBv6" required>
            </ion-input>
            <a slot="end" (click)="togglePasswordSignIn()">
              <ion-icon [hidden]="showPasswordSignIn" name="eye-off-outline"></ion-icon>
              <ion-icon [hidden]="!showPasswordSignIn" name="eye-outline"></ion-icon>
            </a>
          </ion-item>
          <div [hidden]="passwordSignIn.valid || passwordSignIn.pristine" class="invalid-input">
            Debe contener al menos 7 caracteres, un número, una mayúscula y una minúscula
          </div>
          <div class="ion-text-end ion-margin-top">
            <ion-button type="submit" [disabled]="!signInForm.form.valid">Registrarse</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>