<ion-content>
  <ion-fab class="ion-margin ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/" color="light">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="map" class="my-map"></div>
  <!-- Display side menu for desktop -->
  <div *ngIf="showSideMenu">
    <ion-content *ngIf="isOpen" [@openClose] class="side-menu">
      <div class="ion-padding-horizontal">
        <ion-fab horizontal="end" vertical="top" slot="fixed">
          <!-- close side menu -->
          <ion-button (click)="toggleMenu()" fill="clear">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-fab>
        <h3>Detalles de la ruta</h3>
        <ion-item-group class="text-small ion-margin-vertical">
          <ion-label><span class="name-point">Inicio</span> {{route?.origin?.name}}</ion-label>
          <ion-label><span class="name-point">Fin</span> {{route?.destination?.name}}</ion-label>
        </ion-item-group>
      </div>
      <div class="ion-padding-horizontal ion-text-center margin-vertical">
        <span *ngFor="let segment of route.segments; let i = index; let last = last">
          <img class="img-size" [src]="'./assets/' + segmentsVisual[i].icon">
          <ion-badge mode="md" style="margin-left: 3px;" *ngIf="segment.line" [ngStyle]="{'background-color': segmentsVisual[i].color}">
            {{segment.line}}
          </ion-badge>
          <ion-icon class="separator" *ngIf="!last" name="chevron-forward-outline"></ion-icon>
        </span>
      </div>
      <hr>
      <div class="ion-margin ion-padding-bottom ion-padding-horizontal">
        <h3 style="font-weight: bold;" class="ion-text-center">{{route.name}}</h3>
        <div class="ion-margin-top" *ngFor="let segment of route.segments; let i = index; let last = last">
          <span>
            <img class="marker-icon" src="./assets/marker.png">
            {{route.points[segment.source].name}}
          </span>
          <div [ngStyle]="{'border-left': segmentsVisual[i].dashed ? '5px dotted' : '2px solid', 
            'margin-left': segmentsVisual[i].dashed ? '4px' : '5px',
            'border-color': segmentsVisual[i].color}" 
            class="vertical-line">
            <img class="img-size" [src]="'./assets/' + iconTransport.get(segment.transportMode)">
            <ion-accordion-group style="padding-left: 0px;">
              <ion-accordion toggle-icon-slot="start">
                <ion-item slot="header">
                  <ion-label class="text-small">
                    {{
                      (segment.distance < 1 ? segment.distance * 1000 + ' m' : segment.distance + ' km') + ', alrededor de ' +
                      segment.duration + ' min'
                    }}
                  </ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item *ngFor="let step of segment.steps | keyvalue" (click)="zoomToStep(step.key, i)">
                    <ion-label class="text-small ion-text-wrap">{{step.value}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </div>
          <span *ngIf="last">
            <img class="marker-icon" src="./assets/destination.png">
            {{route.points[segment.target].name}}
          </span>
        </div>
      </div>
    </ion-content>
    <ion-fab class="openMenuButton" [hidden]="isOpen" vertical="center" horizontal="start">
      <ion-button (click)="toggleMenu()" color="light" size="small">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-fab>
  </div>
</ion-content>



<!-- Display sheet modal for mobile 
  <div *ngIf="!showSideMenu">
  <ion-button id="trigger-button">Click to open modal</ion-button>
  <ion-modal trigger="trigger-button">
    <ng-template>
      <ion-content>Modal Content</ion-content>
    </ng-template>
  </ion-modal>
  </div> -->