<ion-content>
  <ion-fab class="ion-margin ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/" color="light">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="map" class="my-map"></div>
  <!-- Display side menu for desktop -->
  <div *ngIf="showSideMenu">
    <ion-content *ngIf="isOpen" [@openClose] class="side-menu">
      <div class="ion-padding-horizontal">
        <ion-fab horizontal="end" vertical="top" slot="fixed">
          <!-- close side menu -->
          <ion-button (click)="toggleMenu()" fill="clear">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-fab>
        <h3>Detalles de la ruta</h3>
        <ion-item-group class="text-small ion-margin-top">
          <ion-label><span class="name-point">Inicio</span> {{route?.origin?.name}}</ion-label>
          <ion-label><span class="name-point">Fin</span> {{route?.destination?.name}}</ion-label>
        </ion-item-group>
      </div>
      <hr>
      <div class="ion-margin-top ion-text-center">
        <span *ngFor="let segment of route.segments; let last = last">
          <img class="img-size" [src]="'./assets/' + iconTransport.get(segment.transportMode)">
          <span *ngIf="segment.line" class="line"
            [ngStyle]="{'background-color': segment.transportMode === 'Bus' ? 
              colorSegments.get(segment.transportMode) : colorSegments.get(segment.line)}">
            {{segment.line}}
          </span>
          <ion-icon class="separator" *ngIf="!last" style="opacity: 0.7" name="chevron-forward-outline"></ion-icon>
        </span>
      </div>
    </ion-content>
    <ion-fab class="openMenuButton" [hidden]="isOpen" vertical="center" horizontal="start">
      <ion-button (click)="toggleMenu()" color="light" size="small">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-fab>
  </div>
</ion-content>



<!-- Display sheet modal for mobile 
  <div *ngIf="!showSideMenu">
  <ion-button id="trigger-button">Click to open modal</ion-button>
  <ion-modal trigger="trigger-button">
    <ng-template>
      <ion-content>Modal Content</ion-content>
    </ng-template>
  </ion-modal>
  </div> -->