<ion-content>
  <ion-fab class="ion-margin ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="margin-button" routerLink="/" color="light">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="map" class="my-map"></div>

  <!-- Display side menu when platform width is greater than 768 -->
  <div *ngIf="showSideMenu">
    <ion-content *ngIf="isOpen" [@openClose] class="side-menu">
      <div class="ion-padding-horizontal">
        <ion-fab horizontal="end" vertical="top" slot="fixed">
          <!-- close side menu -->
          <ion-button (click)="toggleMenu()" fill="clear">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-fab>
      </div>
      <!-- Reused content -->
      <ng-template [ngTemplateOutlet]="MyContent"></ng-template>
    </ion-content>
    <!-- Button to open side menu when is closed -->
    <ion-fab class="openMenuButton" [hidden]="isOpen" vertical="center" horizontal="start">
      <ion-button (click)="toggleMenu()" color="light" size="small">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-fab>
  </div>

  <!-- Display side menu when platform width is smaller than 768 -->
  <div *ngIf="!showSideMenu">
    <ion-modal [backdropDismiss]="false" [isOpen]="!showSideMenu" [backdropBreakpoint]="0.5"
      [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5">
      <ng-template>
        <ion-content>
          <!-- Reused content -->
          <ng-template [ngTemplateOutlet]="MyContent"></ng-template>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <!-- Common content for desktop & mobile -->
  <ng-template #MyContent>
    <div class="ion-padding-horizontal">
      <h3>Detalles de la ruta</h3>
      <!-- Origin & Destination points -->
      <ion-item-group class="text-small ion-margin-vertical">
        <ion-label><span class="name-point">Inicio</span> {{origin}}</ion-label>
        <ion-label><span class="name-point">Fin</span> {{destination}}</ion-label>
      </ion-item-group>
    </div>
    <!-- Beginning and end of the route & duration -->
    <div class="ion-padding-horizontal ion-text-center">
      <h5 style="margin-bottom: 0px;">{{formatTime(startTime)}} - {{formatTime(endTime)}}</h5>
      <span style="font-weight: lighter;">
        {{ formatDuration(routeResult.duration) }}
      </span>
    </div>
    <!-- Route detail information -->
    <div class="ion-padding-horizontal ion-text-center margin-vertical">
      <span *ngFor="let segment of routeResult.segments; let i = index; let last = last">
        <img class="img-size" [src]="'./assets/' + segmentsVisual[i].icon">
        <ion-badge mode="md" style="margin-left: 3px;" *ngIf="segment.line"
          [ngStyle]="{'background-color': segment.color}">
          {{segment.line}}
        </ion-badge>
        <ion-icon class="separator" *ngIf="!last" name="chevron-forward-outline"></ion-icon>
      </span>
    </div>
    <hr>
    <div class="ion-margin ion-padding-bottom ion-padding-horizontal">
      <h3 style="font-weight: bold;" class="ion-text-center">{{routeResult.name}}</h3>
      <!-- Represent information of the segements that make up the route -->
      <div class="ion-margin-top" *ngFor="let segment of routeResult.segments; let i = index; let last = last">
        <span>
          <!-- Name of the point -->
          <img class="marker-icon" src="./assets/marker.png">
          {{routeResult.points[segment.source].name}}
        </span>
        <!-- Mode of transport & intermediate stops or instructions (distance & duration) of the segment -->
        <div [ngStyle]="{'border-left': segmentsVisual[i].dashed ? '5px dotted' : '2px solid', 
        'margin-left': segmentsVisual[i].dashed ? '4px' : '5px',
        'border-color': segment.color}" class="vertical-line">
          <!-- Mode of transport represented by an icon -->
          <img class="img-size" [src]="'./assets/' + segmentsVisual[i].icon">

          <div *ngIf="segmentsVisual[i].steps; else stations">
            <!-- Instructions if walk or bike -->
            <ion-accordion-group *ngIf="segment.steps.length > 0; else noSteps" style="padding-left: 0px;">
              <ion-accordion toggle-icon-slot="start">
                <ion-item slot="header">
                  <ion-label class="text-small ion-text-wrap">
                    {{
                    'Alrededor de ' + formatDuration(segment.duration) + ' ('
                    + ( distanceUnit === 'kilometers' 
                      ? (segment.distance < 1 ? segment.distance * 1000 + ' m)' : segment.distance + ' km)' ) 
                      : ( (segment.distance * 0.6213711922).toFixed(3) + ' mi)') ) 
                    }}
                  </ion-label>
                </ion-item>

                <ion-list slot="content">
                  <ion-item *ngFor="let step of segmentsSteps.get(i)">
                    <ion-label (click)="zoomToStep(step.first, step.last, i)" class="text-small ion-text-wrap pointer">
                      {{step.instruction}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
            <ng-template #noSteps>
              <ion-label class="text-small ion-text-wrap">
                {{
                'Alrededor de ' + formatDuration(segment.duration) + ' ('
                + ( distanceUnit === 'kilometers' 
                  ? (segment.distance < 1 ? segment.distance * 1000 + ' m)' : segment.distance + ' km)' ) 
                  : (segment.distance * 0.6213711922 + ' mi)') ) 
                }}
              </ion-label>
            </ng-template>
          </div>
          <ng-template #stations>
            <ion-label class="text-small">
              <ion-badge mode="md" style="margin-left: 3px;" *ngIf="segment.line"
                [ngStyle]="{'background-color': segment.color}">
                {{segment.line}}
              </ion-badge>
              <span class="destination-align">{{segment.destination}}</span>
            </ion-label>
            <!-- Intermediate stops for public transport stations -->
            <ion-accordion-group *ngIf="checkIntermediateStops(segment); else noStops" style="padding-left: 0px;">
              <ion-accordion toggle-icon-slot="start">
                <ion-item slot="header">
                  <ion-label class="text-small ion-text-wrap">
                    {{
                    (segment.target - segment.source) + ' paradas (alrededor de '
                    + formatDuration(segment.duration) + ')'
                    }}
                  </ion-label>
                </ion-item>

                <ion-list lines="none" slot="content">
                  <ion-item class="height-item"
                    *ngFor="let stop of intermediateStopsNames(segment.source, segment.target)">
                    <ion-label class="text-small ion-text-wrap">{{stop}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
            <ng-template #noStops>
              <ion-label class="text-small ion-text-wrap accordion-content">
                {{
                '1 parada (alrededor de ' + formatDuration(segment.duration) + ')'
                }}
              </ion-label>
            </ng-template>
          </ng-template>
        </div>
        <span *ngIf="last">
          <img class="marker-icon" src="./assets/destination.png">
          {{routeResult.points[segment.target].name}}
        </span>
      </div>
    </div>
  </ng-template>

</ion-content>