<ion-content>
  <div *ngIf="isOrigin" class="my-location">
    <ion-button (click)="searchCurrentLocation()" class="my-button-location" size="small">
      <ion-icon name="location-outline"></ion-icon>
    </ion-button>
  </div>
  <div id="map" class="my-map">
  </div>
  <ion-fab class="ion-margin ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="onSelect()" routerLink="/" shape="round">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>