.my-map {
    width: 100%;
    height: 100%;
}

.my-location {
    margin-top: 25px;
    margin-left: 5px;
    z-index: 999;
    position: fixed;
}

.my-button-location {
    --color: black;
    --background: #fff;
    --background-activated: #f4f4f4;
    --background-activated-opacity: #dadada;
    --background-focused: #f4f4f4;
    --background-focused-opacity: #dadada;
    --background-hover: #f4f4f4;
    --background-hover-opacity: #dadada;
    --border-color: rgba(0, 0, 0, 0.35);
    --border-style: solid;
    --border-width: 2px;    
    --box-shadow: none;
}